*{
    margin: 0;
    padding: 0;
}


body{
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to right, #702c7e, #990ac5);
    color: white;   
}



hr{
    border: none; 
    height: 3px; 
    background-color: #fff;  
    width: 100%;
    margin: 20px auto; 
}



header{
    padding-top: 20px;
    text-align: center;
    width: 100%;
    height: 120px;
    background: linear-gradient(#836694, #a76db8);
    border-bottom: 5px solid rgba(96, 71, 117, 0.514);
    
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: rgb(0, 0, 0);
    transition: 0.2;
}

h1{
    padding-top: 10px;
}

h2{
    text-align: center;
}


.box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px;
    background-color: rgba(225, 78, 255, 0.4);
}

.Somme {
    border: 2px solid white;
    border-radius: 25px;
    padding: 40px;
    margin: 30px;
    background-color: rgba(255, 255, 255, 0.3) ;
    
}

.Afficher{
    border: 2px solid white;
    border-radius: 25px;
    margin: 30px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.4) ;
}


.Trouver{
    border: 2px solid white;
    border-radius: 25px;
    margin: 30px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.4) ;
}



button{
    margin-top: 40px;
    margin-right: 30px;
    background-color: #b994e9;
    border-radius: 40px;
    width: 170px;
    height: 45px;
    border: 1px solid rgba(255, 255, 255, 0.541);
    transition: 0.2s;
    color: white;
    font-weight: bold;
}

button:hover{
    background:#eeaeca;
    transition: 150ms;
    color: rgb(255, 255, 255);
    
}




